.jumbotron {
    background-image: url("https://leocristea.files.wordpress.com/2013/03/old_book_library_ladder_bookshelf_books_desktop_1920x1200_wallpaper-7274.jpg");
    font-size: 110px;
    font-family: 'Coiny', cursive;
    color: whitesmoke;
}