.search {
    display: flex;
    justify-content: center;
}

.search input {
    width: 700px;
    margin-left: 5px;
}

button {
    background-color: black;
    color: white;
    font-size: 17px;
    font-family: 'Coiny', cursive;
}